:root {
    --main-color:  #0056b3;
    --gradient-color: #3772EF;
    --black: #13131a;
    --bg: #0A2459;
    --border: 0.2rem solid #A9A9A9;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

section{
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/img-noticie06.jpg');
    background-size: cover;
    background-position: center;
}

main .button-home {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;

}

.form-container{
    background-color: #fff;
    max-width: 30rem;
    border-radius: 10px;
}

.form-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container label{
    align-self: flex-start;
    margin-top: 1rem;
    font-size: 1.6rem;
    color: var(--bg);
}


form input{
    width: 250px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
}

form textarea{
    width: 250px;
    height: 100px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
}

.btn{
    background-color: var(--bg);
    color: #fff;
    font-size: 15px;
    padding: 1rem 3rem;
    font-family: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn-01{
    background-color: var(--bg);
    color: #fff;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 1rem 11.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    border-radius: 5px;
}

.btn-01:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.tittle{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 6rem;
    color: var(--bg);
}

.topic-tittle{
    font-size: 2rem;
    color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    font-size: 3rem;
    color: #0B5A8C;
    padding-right: 2rem;
}

.content-not{
    font-size: 2rem;
    color: var(--bg);
    text-align: left;
}

span{
    color: var(--bg);

}

footer{
    background-color: var(--bg);
    border-top: var(--border);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .share{
    padding: 1rem 0;
}

footer .share img{
    width: 50px;
    height: 50px;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

footer .share img:hover{
    background-color:  #0056b3;
}

span{
    font-size: 1.3rem;
    align-self: flex-start;
    padding-left: 1.5rem;
    color: red;
}

/*MEDIA QUERY TABLET */
@media(min-width: 768px) and (max-width: 1023px){

    .form-container{
        max-width: none;
        padding: 5rem 5rem;
    }

    .form-container label{
        margin-top: 2rem;
        padding-left: 1.4rem;
        font-size: 2rem;
    }

    form input{
        width: 450px;
        padding: 1.5rem;
        font-size: 2rem;
    }

    form textarea{
        width: 450px;
        padding: 1.5rem;
        font-size: 2rem;
    }

    .btn-01{
        font-size: 1.6rem;
        margin-top: 2rem;
        padding: 1.8rem 22rem;
    }

    .content-not{
        font-size: 2.5rem;
    }
}

/* MEDIA QUERY Desktop */
@media(min-width: 1025px){

    .form-container{
        max-width: none;
        width: 45rem;
    }

    .form-container label{
        margin-top: 2rem;
        padding-left: 1.4rem;
    }

    form input{
        width: 400px;
        padding: 1.3rem;
        font-size: 1.6rem;
    }

    form textarea{
        width: 400px;
        padding: 1.3rem;
        font-size: 1.6rem;
    }

    .btn-01{
        font-size: 1.6rem;
        margin-top: 2rem;
        padding: 1.5rem 19.2rem;
    }

    .content-not{
        font-size: 2.5rem;
    }
}