:root {
    --main-color:  #0056b3;
    --gradient-color: #3772EF;
    --black: #13131a;
    --bg: #0A2459;
    --border: 1px solid #ccc;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

section{
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

main{
    background-image: url(../images/img-noticie02.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

main a{
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--bg);
    font-size: 1.5rem;
    text-decoration: none;

}

.selection{
    max-width: 230px;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #fff;
}

.selection form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 205px;
    padding: 1rem;
    border-radius: 5px;
    border: var(--border);
    font-size: 1.3rem;
    color: #000;
}



.btn{
    background-color: var(--bg);
    color: #fff;
    font-size: 1.3rem;
    padding: 1.2rem 9.4rem;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn.ativo {
    background-color: #0056b3;
    transform: translateY(-2px);

}

.btn-01{
    background-color: var(--bg);
    color: #fff;
    font-size: 15px;
    padding: 1rem 3rem;
    font-family: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    border-radius: 5px;
}

.btn-01:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn-02{
    background-color: var(--bg);
    color: #fff;
    font-size: 1.3rem;
    width: 228px;
    padding: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
}

.btn-02:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.content{
    display: flex;
    flex-direction: row;
    align-self: start;
    padding-left: 0.5rem;
    font-size: 1.6rem;
    color: var(--bg);
}

footer{
    background-color: var(--bg);
    border-top: var(--border);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .share{
    padding: 1rem 0;
}

footer .share img{
    width: 50px;
    height: 50px;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

footer .share img:hover{
    background-color:  #0056b3;
}

.erro-form{
    border: 1rem solid red;
}

span{
    margin-top: 1rem;
    align-self: flex-start;
    color: red;
    font-size: 1.3rem;
}

/* MIDIA QUERY TABLET*/
@media(min-width: 768px) and (max-width: 1024px){

    .selection{
        max-width: 400px;
        padding: 3rem 3rem;
    }

    .input{
        width: 370px;
        padding: 1.3rem;
        font-size: 2rem;
    }

    .btn{
        font-size: 2rem;
        padding: 1.6rem 17rem;
        margin-bottom: 2rem;
    }

    .btn-01{
        font-size: 2rem;
        padding: 1rem 3rem;
    }

    .btn-02{
        font-size: 2rem;
        width: 400px;
        padding: 1.6rem;
    }

    .content{
        font-size: 2rem;
    }
    
    span{
        font-size: 1.5rem;
    }
}

/* MIDIA QUERY DESKTOP*/
@media(min-width: 1025px) {

    .selection{
        max-width: 400px;
        padding: 3rem 3rem;
    }

    .input{
        width: 370px;
        padding: 1.3rem;
        font-size: 1.6rem;
    }

    .btn{
        font-size: 1.6rem;
        padding: 1.6rem 17.6rem;
        margin-bottom: 2rem;
    }

    .btn-02{
        font-size: 1.6rem;
        width: 400px;
        padding: 1.6rem;
    }

    .content{
        padding-left: 0.5rem;
    }
}