:root {
    --main-color:  #0056b3;
    --gradient-color: #3772EF;
    --black: #13131a;
    --bg: #0A2459;
    --border: 0.2rem solid #A9A9A9;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

section{
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--gradient-color), #fff);
    background-size: cover;
    background-position: center;
}

.btn{
    background-color: var(--bg);
    color: #fff;
    font-size: 15px;
    padding: 1rem 3rem;
    font-family: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn-01{
    background-color: var(--bg);
    color: #fff;
    font-size: 1.6rem;
    margin-top: 10rem;
    padding: 1.5rem 15rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    border-radius: 5px;
}

.btn-01:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.tittle{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 6rem;
    color: var(--bg);
}

.topic-tittle{
    font-size: 2rem;
    color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    padding-right: 2rem;
}

.content-not{
    font-size: 2.5rem;
    color: var(--bg);
    text-align: left;
    padding-bottom: 4rem;
}

span{
    color: var(--bg);

}

footer{
    background-color: var(--bg);
    border-top: var(--border);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .share{
    padding: 1rem 0;
}

footer .share img{
    width: 50px;
    height: 50px;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

footer .share img:hover{
    background-color:  #0056b3;
}
