:root {
    --main-color: #A9A9A9;
    --black: #13131a;
    --bg: #0A2459;
    --border: 0.3rem solid #A9A9A9;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

html{
    height: 150vh;
}
section{
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

header{
    position: fixed;
    padding: 20px 4%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

header.rolagem{
    background-color: var(--bg);
    padding: 5px 4%;
}

header.rolagem a{
    color: #fff;
}

header.rolagem .btn{
    background-color: #fff;
    color: var(--bg);
}

nav a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;

}

nav a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5;
    font-size: 2rem;
}

.home-container{
    background-image: url(../images/home-image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.home-container{
    display: flex;
    align-items: center;
    padding-right: 700px;
    height: 100vh;
    margin-bottom: 50px;
}

.content{
    padding-left: 4rem;
}

.content h2{
    font-size: 6rem;
    color: #fff;

}

.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-01{
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-position: center;
    height: 230px;
    width: 351rem;
    margin: 1rem;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.box-02{
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-position: center;
    height: 230px;
    width: 351rem;
    margin: 1rem;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.box-03{
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-position: center;
    height: 230px;
    width: 351rem;
    margin: 1rem;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.box-topics{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.topics img{
    background-color: var(--bg);
    padding: 20px 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
}

.btn{
    background-color: var(--bg);
    color: #fff;
    font-size: 15px;
    padding: 1rem 3rem;
    font-family: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.tittle{
    text-align: center;
    margin: 2rem 0;
    font-size: 4rem;
    color: var(--bg);
}

.topic-tittle{
    font-size: 2rem;
    color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-not{
    font-size: 3rem;
    color: #fff;
    padding-right: 2rem;
}

span{
    color: var(--bg);

}

.logo{
    width: 95px;
    height: 102px;
}

.footer{
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share img{
    width: 30px;
    height: 30px;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover{
    background-color: var(--main-color);
}