:root {
    --main-color:  #0056b3;
    --gradient-color: #3772EF;
    --black: #13131a;
    --bg: #0A2459;
    --border: 0.2rem solid #0056b3;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

section{
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

header{
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

 header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo img{
    width: 110px;
    height: 120px;
}

.menu-desktop nav a{
    margin: 0 1rem;
    background-size: 5rem;
    font-size: 1.8rem;
    color: #fff;

}

.menu-desktop nav a:hover{
    color: var(--main-color);
    border-bottom: var(--border);
    font-size: 2rem;
}

.menu-desktop{
    display: none;
}

.menu-icon {
    font-size: 4rem;
    cursor: pointer;
    display: block;
    color: white;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

#menu-toggle {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  text-align: end;
  transition: right 0.3s ease;
  z-index: 1000;
}

.menu a {
  display: block;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
  width: 100%;
  transition: background-color 0.2s ease;
}

.menu a:hover {
  background-color: var(--gradient-color);
}

.menu .close-btn {
  text-align: left;
  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

#menu-toggle:checked ~ .menu {
  right: 0;
}

.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, var(--gradient-color), #fff);
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
}

.content-home{
    text-align: center;
}

.content-home h2{
    font-size: 3rem;
    color: #fff;

}

.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box a{
    position: relative;
    height: 13rem;
    width: 38rem;
    margin: 1rem;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border: var(--border);
}

.box:hover {
    transform: translateY(-3px);
}

.box .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.box .content-not,
.box a {
  position: relative;
  z-index: 1;
  color: white;
  padding: 10px;
}

.btn{
    background-color: var(--bg);
    color: #fff;
    font-size: 15px;
    padding: 1.3rem 6rem;
    font-family: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn-01{
    background-color: var(--bg);
    color: #fff;
    font-size: 18px;
    padding: 2rem 12rem;
    font-family: 2.7rem;
    cursor: pointer;
    margin-top: 3rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    border-radius: 5px;
}

.btn-01:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn-02{
    background-color: var(--bg);
    color: #fff;
    font-size: 15px;
    padding: 1rem 3rem;
    font-family: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    border-radius: 5px;
}

.btn-02:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.tittle{
    text-align: center;
    margin: 4rem 0;
    font-size: 3rem;
    color: var(--bg);
}

.topic-tittle{
    font-size: 2rem;
    color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-ranking{
    font-size: 2.3rem;
    color: #0B5A8C;
    margin: 0 1rem;
}

.content-not{
    font-size: 1.5rem;
    color: #fff;
    text-align: end;
}

span{
    color: var(--bg);

}

footer{
    background-color: var(--bg);
    border-top: var(--border);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .share{
    padding: 1rem 0;
}

footer .share img{
    width: 50px;
    height: 50px;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

footer .share img:hover{
    background-color:  #0056b3;
}

@media(min-width: 768px) and (max-width: 1024px){
    .menu-icon{
        font-size: 5rem;
    }

    .menu a{
        font-size: 2.7rem;
    }
    
    .content-home h2{
        font-size: 4rem;
    }

    .logo img{
        height: 140px;
        width: 130px;
    }

    .btn{
        padding: 2rem 13rem;
        font-size: 2rem;
    }

    .tittle{
        font-size: 4.5rem;
    }

    .box a{
        margin: 1;
        height: 25rem;
        width: 80rem;
    }

    .content-not{
        font-size: 2.5rem;
    }

    .btn-01{
        padding: 2rem 16rem;
        font-size: 2.5rem;
    }

    footer .share img{
        width: 70px;
        height: 70px;
    }

    footer p{
        font-size: 1.5rem;
    }
}

@media(min-width: 1025px){
    .menu-mobile{
        display: none;
    }
    .menu-desktop{
        display: flex;
    }

    header.rolagem{
        background-color: var(--bg);
        padding: 5px 4%;
    }
    
    header.rolagem a{
        color: #fff;
    }

    header.rolagem a:hover{
        color: var(--main-color);
        font-size: 2rem;
    }
    
    header.rolagem .btn-02{
        background-color: #fff;
        color: var(--bg);
    }
    nav a:hover{
        border-bottom: 0.2rem solid var(--main-color);
    }

     .home-container {
        flex-direction: row;
        justify-content: center;
    }

     .content-home{
        text-align: center;

    }

    .content-home h2{
        font-size: 5rem;
        color: #fff;
    }

    .box a {
        height: 23rem;
        width: 120rem;
    }
    
    .tittle{
        font-size: 4rem;
    }
  
    .content-not{
        font-size: 2.5rem;
    }
    
    .img-logo {
        width: 110px;
        height: 120px;
    }

    .btn-01{
        font-size: 20px;
        padding: 2rem 15rem;
        margin-left: 1rem;
    }

    footer .share img{
        width: 60px;
        height: 60px;
    }

    footer p{
        font-size: 1.2rem;
    }
}