<header id="header">
  <section class="menu-mobile">
    <a href="/" class="logo">
      <img src="../../images/logotipo.png" alt="">
    </a>
    
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
      
    <nav class="menu">
      <button class="close-btn" id="close-btn">×</button>
      <a href="/">Home</a>
      <a href="sobre">Sobre</a>
      <a href="doacao">Doações</a>
      <a href="contato">Contato</a>
      <a href="login">Login</a>
    </nav>
  </section>

  <section class="menu-desktop">
    <a href="/" class="logo">
      <img src="../../images/logotipo.png" class="img-logo" alt="logo" />
    </a>

    <nav>
      <a href="/">Home</a>
      <a href="sobre">Sobre</a>
      <a href="doacao">Doações</a>
      <a href="contato">Contato</a>
    </nav>

    <a href="login"><button class="btn-02">LOGIN</button></a>
  </section>
</header>

   <script src="..\JS\header.js"></script>