    <header id="header">
      <section>
        <a href="#" class="logo">
          <img src="" class="img-logo" alt="logo" />
        </a>

        <nav>
          <a href="#">Home</a>
          <a href="#">Sobre</a>
          <a href="#">Doações</a>
          <a href="#">Contato</a>
        </nav>

        <button class="btn">LOGIN</button>
      </section>
    </header>