<header id="header">
  <section>
    <a href="/" class="logo">
      <img src="../../images/hydria-logo1.png" class="img-logo" alt="logo" />
    </a>

    <nav>
      <a href="/">Home</a>
      <a href="sobre">Sobre</a>
      <a href="doacao">Doações</a>
      <a href="contato">Contato</a>
    </nav>

    <a href="login"><button class="btn">LOGIN</button></a>
  </section>
</header>

   <script src="..\JS\header.js"></script>