<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Contato</title>
    <link rel="stylesheet" href="..\css\contato.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <main>
       <a href="/"
      ><button class="btn"><i class="fas fa-arrow-left"></i></button
        ></a>
      <section class="form-container">
        <form>
          <p class="content-not"><b>Envie uma mensagem!</b></p>
          <label for="name">Nome:</label>
          <input
            placeholder="Digite seu nome"
            type="text"
            id="name"
            name="name"
            required
          />
          <label for="email">Email:</label>
          <input
            placeholder="Digite seu e-mail"
            type="email"
            id="email"
            name="email"
            required
          />
          <label for="telephone">Telefone:</label>
          <input
            placeholder="Digite seu telefone"
            type="telephone"
            id="telefone"
            name="telephone"
            required
          />
          <label for="message">Mensagem:</label>
          <textarea
            placeholder="Digite sua Mensagem"
            id="message"
            name="message"
            required
          ></textarea>
          <button class="btn-01" type="submit">Enviar</button>
        </form>
      </section>
    </main>
  </body>
</html>
