<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doações</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\doacao.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <a href="/"
        ><button class="btn-01"><i class="fas fa-arrow-left"></i></button
      ></a>

      <%
          const msgErro = { valorDigitado:'' }
          const cssErro = { valorDigitado:'' }
          if (typeof valores === 'undefined') { valores = { valorDigitado:'' } } {
            if (typeof listaErros !== 'undefined' && listaErros && listaErros.errors){
              listaErros.errors.forEach((erro) => {
                if (erro.path === 'valorDigitado') {
                  msgErro.valorDigitado = erro.msg
                  cssErro.valorDigitado = 'erro-form'
                }
              })
            }
          }
          
      %>

      <section class="selection">
        <form action="select" method="post">
          <label class="content" for="text">
            Digite o valor para doação:
          </label>
          <br>
          <input class="input" value="<%= valores.valorDigitado %>" type="text" name="valorDigitado" id="inputManual" placeholder="Ex: 75">
          <span><%= msgErro.valorDigitado %></span>
          <br>
          <p class="content">
            A partir de apenas R$10,00, você pode transformar realidades! Imagine o orgulho 
            de levar água limpa a quem sofre, a alegria de ver famílias saudáveis, a generosidade 
            que inspira respeito, a inveja boa de quem não ajudou, a glória de fazer parte da mudança 
            e a satisfação de investir em um futuro digno. Não perca a chance de deixar sua marca: doe 
            agora e sacie a sede de quem mais precisa.
          </p>
          <input type="hidden" name="valorSelecionado" id="valorSelecionado">
          <button type="submit" class="btn-02">Próximo</button>
        </form>
      </section>
    </main>
    <script src="..\JS\doacao.js"></script>
  </body>
</html>
