<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doações</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\doacao.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <main>
      <a href="/"
        ><button class="btn-01"><i class="fas fa-arrow-left"></i></button
      ></a>
      <section class="selection">
        <label class="content" for="text"
          >Selecione o valor que gostaria de doar:</label
        >
        <button class="btn">R$10</button>
        <button class="btn">R$50</button>
        <button class="btn">R$100</button>
        <button class="btn">R$250</button>
        <button class="btn">R$500</button>
        <br />
        <label class="content" for="text"
          >Digite o valor que gostaria de doar:</label
        >
        <br />
        <input class="input" type="number" placeholder="Digite o Valor" />
        <br />
        <button class="btn-02">Próximo</button>
      </section>
      
    </main>
    <script src="..\JS\doacao.js"></script>
  </body>
</html>
