<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mensagem Enviada</title>
    <link rel="stylesheet" href="../css/envios.css" />
  </head>
  <body>
    <main>
      <aside class="home-container">
        <section>
          <article class="content">
            <h2>Cadastro Realizado!</h2>
            <a href="/"><button class="btn-01">Voltar para a Home</button></a>
          </article>
        </section>
      </aside>
    </main>
  </body>
</html>