<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\index.css">
    <title>Hydria</title>
</head>
<body>
    <header>
        <nav role="navigation"> 
          <section class="menuToggle" id="menuToggle">
            <input type="checkbox">

            <ul class="menu" id="menu">
                <a href="#"><li>Home</li></a>
                <a href="#"><li>Info</li></a>
                <a href="#"><li>Produtos</li></a>
                <a href="#"><li>Sobre</li></a>
                <a href="#"><li>Contato</li></a>
                <a href="http://w3schools.com"><li>Mostrar mais</li></a>
            </ul>
          </section>
        </nav>
    </header>
    
</body>
</html>