<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\style.css" />
    <title>Hydria</title>
  </head>
  <body>
    <!-- teste -->
    <!-- incluindo header -->
    <%- include("../partial/header") %>

    <main>
      <aside class="home-container">
        <section>
          <article class="content">
            <h2>A ÁGUA COMO RECURSO <br><span>ESSENCIAL PARA A VIDA</span></h2>
            <a href="sobre"><button class="btn">Clique para saber mais</button></a>
          </article>
        </section>
    </aside>

     <!-- <h2 class="tittle">PROCURE POR TÓPICOS</h2>
    <section class="box-topics">

      <article class="topics">
        <a href="#topic-1">
          <img src="../images/world-topic.png" alt="world-topic"> 
        </a>
        <h3 class="topic-tittle">Pelo Mundo</h3>
      </article>

      <article class="topics">
        <a href="#topic-2">
          <img src="../images/wather-topic.png" alt="wather-topic">
        </a>
        <h3 class="topic-tittle">Água</h3>
      </article>

      <article class="topics">
        <a href="#topic-3">
          <img src="../images/saneation-topic.png" alt="saneation-topic">
        </a>
        <h3 class="topic-tittle">Saneamento</h3>
      </article>

      <article class="topics">
        <a href="#topic-4">
          <img src="../images/health-topic.png" alt="health-topic">
        </a>
        <h3 class="topic-tittle">Saúde</h3>
      </article>
    </section> -->

    <h2 class="tittle">NOTÍCIAS RECENTES</h2>
    <section class="box-container">
     
      <article class="box">
          <a href="noticia01">
            <img src="../images/img-noticie01.jpg" alt="img-noticie01" class="bg-img">
            <h3 class="content-not">Encontro em SP discute políticas <br> urbanas para o manejo das águas.</h3>
          </a>
      </article>

      <article class="box">
        <a href="noticia02">
          <img src="../images/img-noticie02.jpg" alt="img-noticie02" class="bg-img">
          <h3 class="content-not"> Com calor de 42 graus, vai faltar <br> água em  36 bairros da Zona Norte, <br> abastecidos pela "Águas do Rio".</h3>
       </a>
      </article>

      <article class="box">
        <a href="noticia03">
          <img src="../images/img-noticie03.jpg" alt="img-noticie03" class="bg-img">
          <h3 class="content-not">Operação especial fiscaliza comércio <br> de água  mineral em Linhares e São Mateus.</h3>
        </a>
      </article>
      
       <article class="box">
        <a href="noticia04">
          <img src="../images/img-noticie04.png" alt="img-noticie04" class="bg-img">
          <h3 class="content-not">As três ondas de doenças infecciosas <br> que devem acometer o Rio Grande do Sul <br> e como contê-las.</h3>
        </a>
        </article>

      <article class="box">
        <a href="noticia05">
          <img src="../images/img-noticie05.jpg" alt="img-noticie05" class="bg-img">
          <h3 class="content-not">Comunidade de Tapanã critica obras <br> da COP30 e falta de saneamento básico.</h3>
        </a>
      </article>

      <article class="box">
        <a href="noticia06">
          <img src="../images/img-noticie06.jpg" alt="img-noticie06" class="bg-img">
          <h3 class="content-not">Aprovado pela Sanepar R$420,4 mil em JCP </h3>
        </a>
      </article>
      
    </section>

    <aside class="ranking-container">
        <img src="../images/ranking-image.png" alt="ranking-image">
        <section>
          <p class="content">
            Descubra como as maiores cidades do Brasil estão avançando (ou não) no acesso à água tratada e coleta de esgoto. A 16ª edição do Ranking do Saneamento revela os municípios mais bem posicionados e os que ainda enfrentam desafios críticos.
          </p>
          <a href="ranking25"><button class="btn-01">Acesse Agora!</button></a>
        </section>   
    </aside>

    <!-- <section class="statistics-container">

      <article class="statistics">
        <img src="../images/statistics-image.png" alt="statistics-image">
        <p class="content">A 16ª edição do Ranking do Saneamento revela os municípios mais bem posicionados e os que ainda enfrentam desafios críticos.</p>
      </article>

    </section>
    </main> -->

     <%- include("../partial/footer") %> 
 
  </body>
</html>
