<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\index.css" />
    <title>Hydria</title>
  </head>
  <body>
    <!-- incluindo header -->
    <%- include("../partial/header") %>

    <main>
      <aside class="home-container">
        <section>
          <article class="content">
            <h2>A ÁGUA COMO RECURSO <span>ESSENCIAL PARA A VIDA</span></h1>
            <button class="btn">Clique para saber mais</button>
          </article>
        </section>
    </aside>

    <h2 class="tittle">NOTÍCIAS RECENTES</h2>
    <section class="box-container">

      <article class="box-01">
        <h3 class="content-not">Encontro em SP discute políticas <br> urbanas para o manejo das águas.</h3>
        <a href="#noticia-1"></a>
      </article>

      <article class="box-02">
        <h3 class="content-not">Encontro em SP discute políticas <br> urbanas para o manejo das águas.</h3>
        <a href="#noticia-2"></a>
      </article>

      <article class="box-03">
        <h3 class="content-not">Encontro em SP discute políticas <br> urbanas para o manejo das águas.</h3>
        <a href="#noticia-3"></a>
      </article>
      
    </section>

    <h2 class="tittle">PROCURE POR TÓPICOS</h2>
    <section class="box-topics">

      <article class="topics">
        <a href="#topic-1">
          <img src="../images/world-topic.png" alt="world-topic"> 
        </a>
        <h3 class="topic-tittle">Pelo Mundo</h3>
      </article>

      <article class="topics">
        <a href="#topic-2">
          <img src="../images/wather-topic.png" alt="wather-topic">
        </a>
        <h3 class="topic-tittle">Água</h3>
      </article>

      <article class="topics">
        <a href="#topic-3">
          <img src="../images/saneation-topic.png" alt="saneation-topic">
        </a>
        <h3 class="topic-tittle">Saneamento</h3>
      </article>

      <article class="topics">
        <a href="#topic-4">
          <img src="../images/health-topic.png" alt="health-topic">
        </a>
        <h3 class="topic-tittle">Saúde</h3>
      </article>
    </section>
    </main>

    <footer></footer>
    <script src="..\JS\index.js"></script>
  </body>
</html>
