<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\noticia.css" />
    <title>Hydria</title>
  </head>
  <body>
    <main>
      <%-include("../partial/header")%>

      <aside class="home-container">
        <section>
          <article class="content">
            <h2>
              As três ondas de doenças infecciosas que devem acometer o Rio
              Grande do Sul — e como contê-las.
            </h2>
          </article>
        </section>
      </aside>

      <section class="box-noticie">
        <article class="content-noticie">
          <img src="../images/img-noticie04.png" alt="img-noticie04" />
          <p class="content-not">
            <b
              >O contato com a água poluída abre brechas para doenças
              infecciosas</b
            >
          </p>
          <p class="content-not">
            As chuvas e as inundações que arrasaram o Rio Grande do Sul afetaram
            milhões de pessoas, deixaram centenas de milhares de desabrigados e
            causaram mais de 100 mortes. Mas, em termos de saúde pública, as
            consequências do evento climático continuarão por muito tempo — e
            exigirão todo um planejamento das autoridades e dos profissionais da
            área.
          </p>
          <p class="content-not">
            Segundo evidências colhidas a partir de outras grandes enchentes que
            ocorreram no mundo em anos recentes, a tendência é de um aumento
            importante nos casos de diversas doenças infecciosas,
            como diarreias, problemas respiratórios, leptospirose, hepatite A
            e dengue.
          </p>
          <p class="content-not">
            Os especialistas ouvidos pela BBC News Brasil explicam que essas
            enfermidades virão em ondas, de acordo com o tempo de incubação de
            vírus, bactérias e outros patógenos e também devido ao tipo de
            exposição de risco que as pessoas envolvidas na tragédia tiveram e
            terão daqui em diante.
          </p>
          <p class="content-not">
            Confira a seguir que ondas de doenças infecciosas são essas e o que
            pode ser feito — do ponto de vista individual e coletivo — para
            diminuir o impacto delas
          </p>

          <h2 class="tittle">
            Municípios afetados pelas chuvas entre os 497 do RS:
          </h2>
          <img src="../images/img-graphic.png" alt="img-graphic" />
        </article>
        <h2 class="content-not"><b>Fonte:</b> Defesa Cívil do RS</h2>
      </section>

      <h2 class="tittle">Veja Mais:</h2>

      <section class="box-container">
        <article class="box">
          <a href="noticia05">
            <img
              src="../images/img-noticie05.jpg"
              alt="img-noticie05"
              class="bg-img"
            />
            <h3 class="content-not">
              Comunidade de Tapanã critica obras <br />
              da COP30 e falta de saneamento básico.
            </h3>
          </a>
        </article>
        <article class="box">
          <a href="noticia02">
            <img
              src="../images/img-noticie02.jpg"
              alt="img-noticie02"
              class="bg-img"
            />
            <h3 class="content-not">
              Com calor de 42 graus, vai faltar <br />
              água em 36 bairros da Zona Norte, <br />
              abastecidos pela "Águas do Rio".
            </h3>
          </a>
        </article>
        <article class="box">
          <a href="noticia03">
            <img
              src="../images/img-noticie03.jpg"
              alt="img-noticie03"
              class="bg-img"
            />
            <h3 class="content-not">
              Operação especial fiscaliza comércio <br />
              de água mineral em Linhares e São Mateus.
            </h3>
          </a>
        </article>
      </section>

      <%-include("../partial/footer")%>
    </main>
    <script src="../js/noticia.js"></script>
  </body>
</html>
