<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\noticia.css" />
    <title>Hydria</title>
  </head>
  <body>
    <main>
      <%-include("../partial/header")%>

      <aside class="home-container">
        <section>
          <article class="content">
            <h2>
              Operação especial fiscaliza comércio de água mineral em Linhares e
              São Mateus
            </h2>
          </article>
        </section>
      </aside>

      <section class="box-noticie">
        <article class="content-noticie">
          <img src="../images/img-noticie03.jpg" alt="img-noticie03" />
          <p class="content-not">
            Fiscais da Fazenda Estadual que atuam na Coordenação Fiscal da
            Região Nordeste conduziram uma ação especial de inspeção no comércio
            de água mineral na manhã desta terça-feira (18).
          </p>
          <p class="content-not">
            Nos cinco locais vistoriados, nos municípios de Linhares e São
            Mateus, foram identificadas irregularidades em estoques de galões
            sem o selo fiscal de controle exigido, além de máquinas de cartão de
            crédito e débito vinculadas a CNPJs de outras empresas. Durante a
            operação, um veículo de carga foi interceptado no bairro Planalto
            transportando 619 galões sem a documentação fiscal necessária.
          </p>
          <p class="content-not">
            No total, foram confiscados 1.147 galões de 20 litros de água
            mineral e quatro equipamentos de cartão de crédito em desacordo com
            as normas. As penalidades aplicadas totalizaram R$ 23,5 mil,
            incluindo tributos não pagos e multas.
          </p>
          <p class="content-not">
            “O Selo Fiscal de Controle e Procedência para água mineral é exigido
            pelo Estado do Espírito Santo desde abril de 2023. Sua utilização é
            de suma importância para o Estado e para a sociedade, pois assegura
            que o imposto foi devidamente recolhido na origem e permite ao
            consumidor conhecer a procedência e origem da água que está
            comprando”, explicou o fiscal e coordenador da Região Nordeste,
            Orlando Anastácio.
          </p>
          <p class="content-not">
            “A Secretaria da Fazenda (Sefaz) está pronta para combater o ilícito
            fiscal e a aplicar as sanções legais, para desestimular a
            continuidade da prática irregular e da concorrência desleal, além de
            recuperar o imposto que seria totalmente sonegado”, afirmou o fiscal
            Ronei Binas da Silva, que integrou a operação.
          </p>

          <h2 class="content-not"><b>Fonte:</b> Sefaz</h2>
        </article>
      </section>

      <h2 class="tittle">Veja Mais:</h2>

      <section class="box-container">
        <article class="box">
          <a href="noticia02">
            <img
              src="../images/img-noticie02.jpg"
              alt="img-noticie02"
              class="bg-img"
            />
            <h3 class="content-not">
              Com calor de 42 graus, vai faltar <br />
              água em 36 bairros da Zona Norte, <br />
              abastecidos pela "Águas do Rio".
            </h3>
          </a>
        </article>
        <article class="box">
          <a href="noticia04">
            <img
              src="../images/img-noticie04.png"
              alt="img-noticie04"
              class="bg-img"
            />
            <h3 class="content-not">
              As três ondas de doenças infecciosas <br />
              que devem acometer o Rio Grande do Sul <br />
              e como contê-las.
            </h3>
          </a>
        </article>
        <article class="box">
          <a href="noticia06">
            <img
              src="../images/img-noticie06.jpg"
              alt="img-noticie06"
              class="bg-img"
            />
            <h3 class="content-not">
              Aprovado pela Sanepar R$420,4 mil em JCP
            </h3>
          </a>
        </article>
      </section>

      <%-include("../partial/footer")%>
    </main>
    <script src="../js/noticia.js"></script>
  </body>
</html>
