<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\noticia.css" />
    <title>Hydria</title>
  </head>
  <body>
    <main>
      <%-include("../partial/header")%>

      <aside class="home-container">
        <section>
          <article class="content">
            <h2>
              Encontro em SP discute políticas urbanas para o manejo das águas.
            </h2>
          </article>
        </section>
      </aside>

      <section class="box-noticie">
        <article class="content-noticie">
          <p class="content-not">
            A Rede Brasileira de Institutos de Planejamento (InRede) começou
            nesta quinta-feira (27) o encontro "A Cidade e suas
            Águas". Destacando o centenário da Represa Billings, que completa
            100 anos...
          </p>
          <img src="../images/img-noticie01.png" alt="img-noticie01" />
          <p class="content-not">
            A Rede Brasileira de Institutos de Planejamento (InRede) começou
            nesta quinta-feira (27) o encontro “A Cidade e suas
            Águas”. Destacando o centenário da Represa Billings, que completa
            100 anos hoje, o evento discute estratégias de uso sustentável de
            áreas de mananciais e de integração dos corpos d’água, como rios e
            lagos,  no cotidiano urbano, com equipamentos como parques e
            terminais de barcas. O evento também debate estratégias de ampliação
            de saneamento básico.
          </p>
          <p class="content-not">
            O 10º Encontro da InRede tem apoio da prefeitura de São Paulo e o
            objetivo de discutir soluções em políticas públicas para a
            integração de equipamentos e serviços aos recursos hídricos. As
            atividades irão até o dia 29, sábado, e conta com representantes do
            Ministério das Cidades e de diversas prefeituras e estados.
          </p>
          <p class="content-not">
            Em discurso na abertura do encontro, a secretária municipal de
            Urbanismo e Licenciamento da capital paulista, Bete França, alertou
            para os recentes desastres em cidades como Porto Alegre e Manaus, e
            pontuou o esforço de todos os integrantes do InRede em compartilhar
            conhecimento para evitar que novos desastres aconteçam. “Vamos
            reforçar cada vez mais a InRede, porque sem o planejamento urbano
            não tem vida nas cidades, não tem vida digna nas cidades”, disse a
            secretária.
          </p>
          <p class="content-not">
            A programação contou ainda com mesas de debates sobre gestão da água
            em áreas urbanas e boas práticas de planejamento urbano,
            apresentando experiências bem-sucedidas de cidades como Manaus, São
            Paulo, São Luís, Curitiba, Campo Grande, Fortaleza, Santo André,
            Niterói e Recife. 
          </p>
          <p class="content-not">
            As atividades continuam na sexta-feira (28) com painéis realizados
            no Auditório da SP Urbanismo, no Edifício Martinelli e termina no
            sábado (29), com visita técnica ao Cantinho do Céu, projeto de
            urbanização da Secretaria Executiva do Programa Mananciais Billings
          </p>
          <p class="content-not">
            A Empresa Metropolitana de Águas e Energia (Emae) iniciou o plantio
            das 100 mil mudas de árvores nativas para criar um novo corredor
            ecológico de 100 quilômetros de extensão em pontos do Rio Pinheiros
            e do Reservatório Billings, em evento que comemora o centenário do
            reservatório.  As ações também contemplam mutirões de limpeza e
            atividades educativas, como jogos, filmes e montagem de terrário,
            além de palestras de educação ambiental por instituições parceiras
            da Emae que atendem pessoas das comunidades do entorno do
            reservatório, como Centros para Crianças e Adolescentes.
          </p>
          <h2 class="font-tittle">Fonte: Agência Brasil</h2>
        </article>
      </section>

      <h2 class="tittle">Veja Mais:</h2>

      <section class="box-container">
        <article class="box">
          <a href="noticia02">
            <img
              src="../images/img-noticie02.jpg"
              alt="img-noticie02"
              class="bg-img"
            />
            <h3 class="content-not">
              Com calor de 42 graus, vai faltar <br />
              água em 36 bairros da Zona Norte, <br />
              abastecidos pela "Águas do Rio".
            </h3>
          </a>
        </article>
      </section>

      <%-include("../partial/footer")%>
    </main>
  </body>
</html>
