<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\ranking.css" />
    <title>Ranking de Saneamento 2021</title>
  </head>
  <body>
    <main>
      <%- include("../partial/header") %>

      <aside class="home-container">
        <section>
          <article class="content">
            <h2>RANKING DO SANEAMENTO 2021</h2>
          </article>
        </section>
      </aside>

      <section>
        <p class="content-not">
          Desde 2009, o Instituto Trata Brasil, em parceria com a GO Associados,
          divulga o Ranking do Saneamento Básico. A nova edição do estudo aborda
          os indicadores de água e esgotos nas 100 maiores cidades do país com
          base nos dados do Sistema Nacional de Informações sobre Saneamento
          (SNIS) ano base 2019, divulgado pelo Ministério das Cidades.Nesse ano
          de 2021, o Instituto Trata Brasil consultou entidades do setor,
          autoridades, empresas operadoras e ONGs para aperfeiçoar a metodologia
          do Ranking. Desta vez, foram consultadas mais de 20 entidades em três
          meses de reuniões e consultas. Entre os consultados tivemos também
          técnicos da ANA, Ministério do Desenvolvimento Regional e até do
          Ministério da Saúde. Com isso, esse Ranking incorpora nova
          metodologia, o que deve ser considerado na hora de comparar a
          colocação das cidades com anos anteriores.No Relatório Completo nesta
          página é possível entender a metodologia adotada.
        </p>
      </section>

      <h2 class="tittle">DETALHES DO ESTUDO</h2>

      <section class="topics">
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2022/09/Press_release_-_Ranking_do_Saneamento_2021.pdf"
            >Press Realese</a
          >
        </article>
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2022/09/Ranking_do_Saneamento_2021_-_tabela_das_100_maiores_cidades_do_Brasil_.pdf"
            >Tabela das 100 Maiores Cidades</a
          >
        </article>
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2022/09/Relatorio_-_Ranking_Trata_Brasil_2021_v2.pdf"
            >Relatório completo</a
          >
        </article>
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2022/09/Resumo_Executivo.pdf"
          >
            Resumo Executivo
          </a>
        </article>
      </section>

      <h2 class="tittle">OUTRAS EDIÇÕES</h2>

      <section class="box-editions">
        <article>
          <a href="ranking25"> Ranking do Saneamento 2025 </a>
        </article>
        <article>
          <a href="ranking24"> Ranking do Saneamento 2024 </a>
        </article>
        <article>
          <a href="ranking23"> Ranking do Saneamento 2023 </a>
        </article>
        <article>
          <a href="ranking22"> Ranking do Saneamento 2022 </a>
        </article>
        <article>
          <a href="ranking20"> Ranking do Saneamento 2020 </a>
        </article>
      </section>
    </main>
    <script src="..\JS\ranking.js"></script>
  </body>
</html>
