<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\ranking.css" />
    <title>Ranking de Saneamento 2022</title>
  </head>
  <body>
    <main>
      <%- include("../partial/header") %>

      <aside class="home-container">
        <section>
          <article class="content">
            <h2>RANKING DO <br>SANEAMENTO 2022</h2>
          </article>
        </section>
      </aside>

      <section>
        <p class="content-not">
          O Instituto Trata Brasil, em parceria com a GO Associados, publica a
          14ª edição do Ranking do Saneamento com o foco nos 100 maiores
          municípios brasileiros. O relatório faz uma análise dos indicadores do
          Sistema Nacional de Informações sobre Saneamento (SNIS), ano de 2020,
          publicado pelo Ministério do Desenvolvimento Regional. O Ranking do
          saneamento básico busca mostrar quais são os desafios que país ainda
          enfrenta para cumprir com os compromissos nacionais e internacionais
          em água tratada, coleta e tratamento de esgoto.
        </p>
      </section>

      <h2 class="tittle">DETALHES DO ESTUDO</h2>

      <section class="topics">
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2022/09/Relatorio_do_RS_2022.pdf"
            >Realese</a
          >
        </article>
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2022/09/Relatorio_do_RS_2022.pdf"
            >Relatório completo</a
          >
        </article>
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2022/09/Tabela_das_100_Cidades.pdf"
            >Tabela das 100 Cidades</a
          >
        </article>
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2022/09/Resumo_Executivo_-_Ranking_22.pdf"
            > Resumo Executivo </a
          >
        </article>
      </section>

      <h2 class="tittle">OUTRAS EDIÇÕES</h2>

      <section class="box-editions">
        <article>
          <a href="ranking25"> Ranking do Saneamento 2025 </a>
        </article>
        <article>
          <a href="ranking24"> Ranking do Saneamento 2024 </a>
        </article>
        <article>
          <a href="ranking23"> Ranking do Saneamento 2023 </a>
        </article>
        <article>
          <a href="ranking21"> Ranking do Saneamento 2021 </a>
        </article>
        <article>
          <a href="ranking20"> Ranking do Saneamento 2020 </a>
        </article>
      </section>
    </main>
    <script src="..\JS\ranking.js"></script>
  </body>
</html>
