<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\ranking.css" />
    <title>Ranking de Saneamento 2025</title>
  </head>
  <body>
    <main>
      <%- include("../partial/header") %>

      <aside class="home-container">
        <section>
          <article class="content">
            <h2>RANKING DO <br>SANEAMENTO 2025</h2>
          </article>
        </section>
      </aside>

      <section>
        <p class="content-not">
          O Instituto Trata Brasil (ITB), em parceria com GO Associados, publica
          a 17ª edição do Ranking do Saneamento com o foco nos 100 municípios
          mais populosos do Brasil. Para produzir o ranqueamento, foram levados
          em consideração os indicadores mais recentes do Sistema Nacional de
          Informações em Saneamento Básico (SINISA), ano-base 2023, publicado
          pelo Ministério das Cidades, além de uma ponderação de pesos na
          evolução dos indicadores estabelecida em metodologia criada em
          parceria com a consultoria GO Associados. Desde 2009, o Instituto
          Trata Brasil monitora os indicadores dos maiores municípios
          brasileiros com base na população, com o objetivo de dar luz a um
          problema histórico vivido no país. A falta de acesso à água potável
          impacta 16,9% dos brasileiros e 44,8% não possuem coleta de esgoto,
          refletindo em problemas na saúde, produtividade no trabalho,
          valorização imobiliária, turismo e na qualidade de vida da população,
          impactando profundamente o desenvolvimento socioeconômico do país.
          Leia o estudo completo.
        </p>
      </section>

      <h2 class="tittle">DETALHES DO ESTUDO</h2>

      <section class="topics">
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2025/07/Release-Ranking-2025_atualizado-15.07-V3.pdf"
            >Realese</a
          >
        </article>
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2025/07/Resumo-Executivo_Ranking-Saneamento-2025_Final_v4pdf.pdf"
            >Resumo Executivo</a
          >
        </article>
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="http://tratabrasil.org.br/wp-content/uploads/2025/07/Tabela-Resumo-Ranking_final.pdf"
            >Tabela Resumo</a
          >
        </article>
        <article>
          <img src="../images/document-img.png" alt="" />
          <a
            href="https://tratabrasil.org.br/wp-content/uploads/2025/07/Tabela-Completa-Ranking_final.pdf"
            >Tabela Completa</a
          >
        </article>
      </section>

      <h2 class="tittle">OUTRAS EDIÇÕES</h2>

      <section class="box-editions">
        <article>
          <a href="ranking24"> Ranking do Saneamento 2024 </a>
        </article>
        <article>
          <a href="ranking23"> Ranking do Saneamento 2023 </a>
        </article>
        <article>
          <a href="ranking22"> Ranking do Saneamento 2022 </a>
        </article>
        <article>
          <a href="ranking21"> Ranking do Saneamento 2021 </a>
        </article>
        <article>
          <a href="ranking20"> Ranking do Saneamento 2020 </a>
        </article>
      </section>
    </main>
    <script src="..\js\ranking.js"></script>
  </body>
</html>
